header ul {
    display: none;
   }

header input:checked + ul {
    display: block;
   }
   
.nav{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-basis: 100%;
    min-width: 100%;
    align-items: center;
    justify-content: center

}
