* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p, .t, .v {
    border: 3px solid transparent;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.p {
    border-color: #ffffba;
    align-items: center;
}

.t {
    border-color: #ffdfba;
}

.v {
    border-color: #baffc9;
}
.picture{
 background-position: center;
 background-size: cover;
 height: 0;
 padding-bottom: 50%;

}